body{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	scroll-behavior: [ auto | smooth ];
}
#home-contestent-img{
	padding-top: 45%;
}
#home-contestent-img img{
	width: 50%;
}
#bottom-menu{
	padding-top:16%;
	margin: 0 5px;
}
#menu1 img,#menu2 img,#menu3 img{
	width: 100%;
}
.contestants-img img{
	width: 80%;
	/*cursor: pointer;*/
}
.modal-transparent{
	opacity: 0.9;
	background-color: #87add6;
	min-height: 97vh;
}
.voteContestantImg img{
	width: 100%;
}
.popup-name {
	color: #fff;
	font-size: 26px;
	font-weight: 600;
}
#vote-to-contestant .modal-header{
	border: none !important;
	padding: 5px 15px !important;
}
#vote-to-contestant button {
	color: #fff;
	opacity: 1 !important;
	font-size: 36px;
	float: left !important;
}
.vote-btn{
	background-color:yellow;
	font-size: 20px;
	padding: 6px;
	border-radius: 6px;
	width: 248px;
	margin-left: 8%;
}
.vote-check{
	padding: 11px;
	background: rgba(0, 0, 0, 0.2);
	color: #231818;
	margin-left: -12%;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-size: 33px;
}
.vote-text{
	margin: 0px 31px;
}
.contestant-votes{
	background-color: #d62374;
	padding: 4px 10px;
	border-radius: 50px;
	position: absolute;
	left: 10px;
}
.backBtn{
	left: 12px;
	position: absolute;
	top: 8%;
	z-index: 1111111;
}
.availableVotes{
	color: yellow;
	font-size: 30px;
	letter-spacing: 2px;
	font-weight: 500;
}
.votesClose{
	color: red;
	font-size: 17px;
}
/*Leaderboard*/
.scroll-toprankers {
	height: calc(100vh - 200px);
	background-color: rgba(0, 0, 0, 0.2) !important;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch!important;
}
.leader-info .rank {
	padding-left: 59px;

}

.leader-info img {
	border-radius: 20px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 4px;
}


.leader-info .leader-image {
	width: 40px;
	height: 40px;
}
.font-color{
	color: #f6fa00!important;
}
.verticle-center{
	height:100px;  /* image height */
	display: table-cell;
	vertical-align: middle;
}
.menu-buttons img{
	width:100%;
}
.modal-open {
	overflow: hidden;
	position: fixed;
}